* {
  box-sizing: border-box;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  width: 100%;
  max-width: 1800px;
  margin: 0 auto;
}

section {
  margin: 50px 0;
  width: 25%;
  border: 1px solid #000;
}

h1 {
  background-color: #f0f0f0;
  padding: 16px;
}

.step {
}
